<ion-view title="Edit profile" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="editProfile-form12" class="list">
      <label class="item item-input" id="editProfile-input19">
        <span class="input-label">mail</span>
        <input type="email" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <label class="item item-input" id="editProfile-input20">
        <span class="input-label">phone number</span>
        <input type="tel" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 14px;"></div>
      <label class="item item-input" id="editProfile-input21">
        <span class="input-label">manager</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="menu.myProfile()" id="editProfile-button11" style="border-radius:-1px -1px -1px -1px;" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>