<ion-view title="Late" id="page10">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-alarm-clock"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="late-heading4" style="color:#000000;font-weight:300;">Select:</h4>
    <form id="late-form4" class="list">
      <ion-radio id="late-radio4">15 min</ion-radio>
      <ion-radio id="late-radio6">30 min</ion-radio>
      <ion-radio id="late-radio7">45 min</ion-radio>
      <ion-radio id="late-radio8">more than 1h</ion-radio>
    </form>
    <a ui-sref="menu.myProfile()" id="late-button5" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>