<ion-view title="My profile" id="page15" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="profile-image">
      <img src="img/qnuPyDPSremAU1DN0vSA_panda.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="myProfile-heading10" style="color:#E71C1C;font-weight:300;text-align:center;">Magdalena Dynowska</h3>
    <h4 id="myProfile-heading6" style="color:#000000;font-weight:300;text-align:center;">marketing specialist</h4>
    <ion-list id="myProfile-list14">
      <ion-item class="item-icon-right" id="myProfile-list-item18" ui-sref="menu.moreInformation()">My status: homeoffice
        <i class="icon ion-ios-more"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="myProfile-list10">
      <ion-item class="item-icon-left" id="myProfile-list-item7" href="tel:">
        <i class="icon ion-android-mail"></i>magdalena.dynowska@gmail.com</ion-item>
    </ion-list>
    <ion-list id="myProfile-list11">
      <ion-item class="item-icon-left" id="myProfile-list-item8">
        <i class="icon ion-ios-telephone"></i>690-650-029</ion-item>
      <ion-item class="item-icon-left" id="myProfile-list-item10">
        <i class="icon ion-android-person"></i>Paweł Szczepaniec
        <span class="item-note">manager</span>
      </ion-item>
    </ion-list>
    <a ui-sref="menu.editProfile()" id="myProfile-button10" class="button button-positive button-block icon-left ion-edit">Edit profile</a>
  </ion-content>
</ion-view>