<ion-view title="Status" hide-back-button="true" id="page7">
  <ion-content padding="true" class="has-header">
    <h4 id="status-heading5" style="color:#000000;font-weight:300;">Select:</h4>
    <ion-list id="status-list9">
      <ion-item class="item-icon-left" id="status-list-item11" ui-sref="menu.homeoffice()">
        <i class="icon ion-android-home"></i>Homeoffice</ion-item>
      <ion-item class="item-icon-left" id="status-list-item12" ui-sref="menu.late()">
        <i class="icon ion-android-alarm-clock"></i>Late</ion-item>
      <ion-item class="item-icon-left" id="status-list-item13" ui-sref="menu.sick()">
        <i class="icon ion-ios-pulse-strong"></i>Sick</ion-item>
      <ion-item class="item-icon-left" id="status-list-item14" ui-sref="menu.vacation()">
        <i class="icon ion-ios-partlysunny"></i>Vacation</ion-item>
      <ion-item class="item-icon-left" id="status-list-item15" ui-sref="menu.training()">
        <i class="icon ion-ios-book"></i>Training</ion-item>
    </ion-list>
  </ion-content>
</ion-view>