<ion-view title="Vacation" id="page13">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-partlysunny"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <form id="vacation-form8" class="list">
      <label class="item item-input" id="vacation-input14">
        <span class="input-label">From</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="vacation-input15">
        <span class="input-label">To</span>
        <input type="date" placeholder="">
      </label>
    </form>
    <form id="vacation-form9" class="list">
      <label class="item item-input" id="vacation-input16">
        <span class="input-label">Substitiute me</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="menu.myProfile()" id="vacation-button8" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>